@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");
/* Header */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.navegacion {
  position: flex;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.navegacion ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Responsive header*/
@media screen and (max-width: 700px) {
  .navegacion {
    font-size: 12px;
  }
  ul li a::before {
    font-size: 0.25em;
  }
}

@media screen and (max-width: 400px) {
  .navegacion {
    font-size: 10px;
  }
  ul li a::before {
    font-size: 0.20em;
  }
}

.navegacion li {
  list-style: none;
}

.navegacion li a {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4em;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul li a:hover {
  color: rgba(255, 255, 255, 0.1);
  -webkit-transform: traslateY(-20px);
          transform: traslateY(-20px);
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  bottom: -10px;
  pointer-events: none;
  z-index: 1;
  font-size: 0.35em;
  color: #3bffe8;
  font-weight: 500;
  letter-spacing: 100px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 0 10px #3bffe8, 0 0 30px #3bffe8, 0 0 80px #3bffe8;
}

ul li a:hover::before {
  letter-spacing: 6px;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

/*FOOTER*/
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #222;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #3bffe8;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive footer*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*Contenido inicio*/
.contenido {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  display: table;
  height: 600px;
  margin: 2rem auto;
  text-align: center;
  width: 800px;
}

.contenido h1 {
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contenido p {
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  margin-bottom: 25px;
  margin-top: 30px;
}

/*Responsive contenido inicio */
@media (max-width: 767px) {
  .contenido {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .contenido {
    width: 100%;
  }
}

/*contenido sobre mi*/
.Csobremi {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  display: table;
  height: 600px;
  margin: 2rem auto;
  text-align: center;
  width: 800px;
}

.Csobremi h1 {
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.Csobremi p {
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  margin-bottom: 25px;
  margin-top: 30px;
}

/*RESPONSIVE SOBRE MI*/
@media (max-width: 767px) {
  .Csobremi {
    width: 100%;
    margin-bottom: 50px;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .Csobremi {
    font-size: 10px;
    width: 100%;
    font-size: 20px;
  }
}

/*CONTACTO FORMULARIO*/
.mb-3 {
  color: #fff;
  text-align: center;
}

.mb-2 {
  color: #fff;
}

.card col-md-5 p-3 {
  color: #222;
}

/*PROYECTOS */
.card-text, .card-title {
  color: #fff;
}

/*Contenido habilidades*/
.skills-section {
  padding-top: 20px;
}

.skills-header {
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.skills-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #3bffe8;
  border-radius: 2px;
}

.skills-container {
  display: -ms-grid;
  display: grid;
  grid-tempLate-columns: repeat(5, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skills-box {
  padding: 1rem;
  color: #000;
  cursor: pointer;
}

.skills-box:hover > .skills-title:after, .skills-box:hover > .skills-title:before {
  width: 30px;
}

.skills-box:hover .skills-img {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skills-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 20px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #3bffe8;
  -webkit-transition: .5s;
  transition: .5s;
}

.skills-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #3bffe8;
}

.skills-icons {
  width: 50px;
  z-index: 2;
}

.skills-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.skills-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skills-title h3 {
  color: #fff;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .skills-container {
    grid-tempLate-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .skills-container {
    grid-tempLate-columns: 2fr;
    padding: 2rem 50px;
  }
}

.p-color {
  color: #fff;
}

/*Section certificados*/
.galeria h1 {
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.linea {
  border-top: 5px solid #3bffe8;
  margin-bottom: 40px;
}

.contenedor-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor-imagenes .imagen {
  width: 33%;
  position: relative;
  height: 393px;
  margin-bottom: 5px;
}

.imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #a9b3a9;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.overlay h2 {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
  height: 20%;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .contenedor-imagenes {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .contenedor-imagenes {
    width: 100%;
  }
  .contenedor-imagenes .imagen {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 15px;
  }
  .contenedor-imagenes {
    width: 100%;
  }
  .contenedor-imagenes .imagen {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */